body {
  background: #fff;
  width: 300px;
  height: auto;
  font-family: "Roboto";
  margin: 0;
  padding: 20px;
  border: 1px solid lightgray;
  color: #333;

  .df {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__btn-container {
      display: inline-flex;
      flex-direction: row;
      gap: 10px;
      align-items: center;
    }
    &__btn {
      height: 30px;
      width: 140px;
      border-radius: 5px;
      border: 1px solid #666;
      background: #fff;
      color: #666;
      cursor: pointer;
      &--primary {
        border: 1px solid #007bff;
        background: #007bff;
        color: #fff;
      }
    }
    &__msg {
      color: #007bff;
      font-size: 14px;
      margin: 6px 0 12px;
    }
    &__form-group {
      margin-bottom: 12px;
      & > label {
        display: block;
        font-size: 14px;
        margin-bottom: 5px;
      }
    }
    &__form-item-wrapper {
      display: flex;
      gap: 4px;
      height: 30px;
      & > select.df__value-set-type {
        min-width: 60px;
        border-radius: 6px;
        border: 1px solid #999;
      }
      & > input {
        width: 150px;
        border-radius: 6px;
        border: 1px solid #999;
      }
    }
    &__checkbox-group,
    &__radio-group {
      display: inline-flex;
      align-items: center;
    }

    &__scan-options {
      margin-bottom: 5px;
    }
  }

  .display-none {
    display: none;
  }
}
