body {
  background: #fff;
  font-family: "Roboto";
  margin: 0;
  padding: 0;
  border: 1px solid lightgray;
  color: #333;

  h1 {
    margin: 0;
    font-size: 20px;
  }
  h2 {
    margin: 0;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 600;
  }
  .display-none {
    display: none !important;
  }

  .df {
    padding: 20px;
    &__btn-container {
      display: inline-flex;
      flex-direction: row;
      gap: 10px;
      align-items: center;
      &--inline {
        display: inline-flex;
      }
      &--apply {
        margin-top: 10px;
      }
    }
    &__btn {
      height: 30px;
      width: 140px;
      border-radius: 5px;
      border: 1px solid #666;
      background: #fff;
      color: #666;
      cursor: pointer;
      &--primary {
        border: 1px solid #007bff;
        background: #007bff;
        color: #fff;
      }
      &.active {
        border: 1px solid #025bbb;
        background: #025bbb;
      }
      &:disabled {
        opacity: 0.6;
        cursor: unset;
      }
    }
    &__msg {
      margin: 0;
      font-size: 16px;
      margin-top: 20px;
      margin-bottom: 12px;
      font-weight: 600;
      color: #007bff;
    }
    &__form-group {
      &:not(:last-child) {
        margin-bottom: 16px;
      }
      &__title {
        margin-bottom: 5px;
        & > label {
          display: inline-block;
          font-size: 14px;
          background-color: #c4e1ff;
          border-radius: 6px;
          padding: 1px 4px 2px;
          max-width: 150px;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      &__type {
        vertical-align: super;
      }
    }
    &__form-item-wrapper {
      display: flex;
      gap: 4px;
      height: 30px;
      & > select {
        width: 150px;
        max-width: 150px;
        text-overflow: ellipsis;
        white-space: nowrap;
        border-radius: 6px;
        border: 1px solid #999;
        &:focus {
          outline: 1px solid #007bff;
        }
        &.df__value-set-type {
          max-width: 75px;
        }
      }
      & > input {
        width: 150px;
        border-radius: 6px;
        border: 1px solid #999;
        &:focus {
          outline: 1px solid #007bff;
        }
      }
    }
    &__checkbox-group,
    &__radio-group {
      display: inline-flex;
      align-items: center;
    }
    &__scan-options {
      margin-bottom: 5px;
    }
    &__bottom {
      box-sizing: border-box;
      position: sticky;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 50px;
      padding: 0 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      background: #fff;
      box-shadow: 0px -2px 5px 2px rgba(196, 196, 196, 0.5);
    }
  }
}
